# Shopify
.shopify
config/settings_data.json
*.json.liquid

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Backup
*.backup
*.bak
*.orig

# Logs
*.log

# Dev Environment
dev/node_modules
dev/dist
dev/.vite
dev/.env
dev/.env.local
node_modules
