{% comment %}
  React App Section
  This section loads the React application bundle
{% endcomment %}

<div id="root"></div>

<script type="module" src="{{ 'app.js' | asset_url }}"></script>

{% schema %}
{
  "name": "React App",
  "settings": []
}
{% endschema %}
